body {
	margin: 0;
}

body.animating {
	overflow: hidden;
}

.overlay {
	display: inline-block;
	position: fixed;
	right: 1em;
	bottom: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #2e6d15;
	backdrop-filter: blur(2px);
	pointer-events: none;
	color: white;
}

.page {
	background-color: #cbfeb7;
	padding: 1.5em;
	outline: 0;
}

.dialog {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000080;
}

.dialog-container {
	background-color: #f0f0f0;
	border-radius: 1em;
	padding: 1.5em;
	box-shadow: 0 5px 5px #f0f0f080;
}
