.pkg {
	padding: 1em 0;
}

.pkg + .pkg {
	border-top: 0.1em solid rgba(var(--foreground-rgb) / 0.3);
}

.content .version {
	padding: 0 1em;
	font-size: 0.8em;
	color: rgba(var(--foreground-rgb) / 0.75);
}

.content .heading,
.content p {
	margin: 0;
}

.content .heading {
	margin-block-end: 0.5em;
}

.has-license-file {
	display: grid;
	grid-template-columns: 1fr calc(1.5em * var(--SQRT-2));
	grid-template-areas: 'content icon';
	align-items: center;
}

.has-license-file .content {
	grid-area: content;
}

.has-license-file .icon {
	display: inline-block;
	grid-area: icon;
	width: 1.5em;
	height: 1.5em;
}
