@layer base {
	.guide-container {
		--guide--padding: 0.5em;
		position: fixed;
		pointer-events: none;
		bottom: calc(var(--body-padding-vertical) - var(--guide--padding));
		right: calc(var(--body-padding-horizontal) - var(--guide--padding));
	}

	.guide {
		background: rgba(var(--background-rgb) / 0.5);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		padding: var(--guide--padding);
		margin: 0;
		border-radius: var(--guide--padding);
		z-index: 9999;
		font-size: 0.8em;
		display: flex;
	}

	.entry {
		display: inline;
	}

	.icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		box-sizing: content-box;
		padding-right: 0.5ch;
		vertical-align: -0.75ex;
	}
}
