.circular {
	display: inline-grid;
	place-items: center;
	width: calc(1.5em * var(--SQRT-2));
	height: calc(1.5em * var(--SQRT-2));
	border-radius: 1.5em;
	border: none;
	background: transparent;
	color: inherit;
	transition: background-color 100ms ease-in-out;
	/* The :hover/:active backgrounds already indicates the tap. No need for a
	 * highlight.
	 */
	-webkit-tap-highlight-color: transparent;
}

/* Note: Default :focus-visible style applies. */

.circular:hover {
	background: rgba(var(--foreground-rgb) / var(--hover-alpha));
}

.circular:active {
	background: rgba(var(--foreground-rgb) / var(--active-alpha));
}

.circular svg {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
}
