.inline-figure {
	display: inline-block;
	width: min-content;
	text-align: center;
	margin: 0;
}

.gfbi-grid {
	display: inline-grid;
	margin: 0.5em;
	grid-template-areas:
		' .    up    .  '
		'left  .   right'
		' .   down   .  ';
}

.gfbi {
	display: inline-block;
	width: 2em;
	height: 2em;
}

.gfbi[data-which=down] {
	grid-area: down;
}

.gfbi[data-which=right] {
	grid-area: right;
}

.gfbi[data-which=left] {
	grid-area: left;
}

.gfbi[data-which=up] {
	grid-area: up;
}
